<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remedy Data Handling Portal</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Remedy Data Handling Portal</h1>
        <div class="button-container">
            <button onclick="location.href='/submitForm'">Insert Records</button>
            <button onclick="location.href='/searchForm'">View records</button>
            <button onclick="location.href='/updateForm'">Update Records</button>
            <button onclick="location.href='/deleteForm'">Delete Records</button>
        </div>
    </div>
    <script>
        // JavaScript function to navigate to inputfields.html
        function navigateToInputFields() {
            location.href = '/searchForm';
        }
    </script>
</body>
</html>
